# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
x64/Debug/HelloWDM.tlog/CL.command.1.tlog
x64/Debug/HelloWDM.tlog/CL.read.1.tlog
x64/Debug/HelloWDM.tlog/CL.write.1.tlog
x64/Debug/HelloWDM.tlog/HelloWDM.lastbuildstate
x64/Debug/HelloWDM.tlog/Inf2Cat.command.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat.read.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat.write.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.13880.read.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.13880.write.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.20092.read.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.20092.write.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.22952.read.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.22952.write.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.read.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.write.1.tlog
x64/Debug/HelloWDM.tlog/link.command.1.tlog
x64/Debug/HelloWDM.tlog/link.read.1.tlog
x64/Debug/HelloWDM.tlog/link.write.1.tlog
x64/Debug/HelloWDM.tlog/signtool.command.1.tlog
x64/Debug/HelloWDM.tlog/signtool.read.1.tlog
x64/Debug/HelloWDM.tlog/signtool.timestamp.1.tlog
x64/Debug/HelloWDM.tlog/signtool.write.1.tlog
x64/Debug/HelloWDM.tlog/stampinf.command.1.tlog
x64/Debug/HelloWDM.tlog/stampinf.read.1.tlog
x64/Debug/HelloWDM.tlog/stampinf.write.1.tlog
x64/Debug/HelloWDM.inf
/x64/Debug/HelloWDM.tlog/inf2cat-expand.11412.read.1.tlog
/x64/Debug/HelloWDM.tlog/inf2cat-expand.11412.write.1.tlog
/x64/Debug/HelloWDM.tlog/inf2cat-expand.11704.read.1.tlog
/x64/Debug/HelloWDM.tlog/inf2cat-expand.11704.write.1.tlog
/x64/Debug/HelloWDM.tlog/inf2cat-expand.12188.read.1.tlog
/x64/Debug/HelloWDM.tlog/inf2cat-expand.12188.write.1.tlog
/x64/Debug/HelloWDM.tlog/inf2cat-expand.12760.read.1.tlog
/x64/Debug/HelloWDM.tlog/inf2cat-expand.12760.write.1.tlog
/x64/Debug/HelloWDM.tlog/inf2cat-expand.13068.read.1.tlog
/x64/Debug/HelloWDM.tlog/inf2cat-expand.13068.write.1.tlog
/x64/Debug/HelloWDM.tlog/inf2cat-expand.14200.read.1.tlog
/x64/Debug/HelloWDM.tlog/inf2cat-expand.14200.write.1.tlog
/x64/Debug/HelloWDM.tlog/inf2cat-expand.16580.read.1.tlog
/x64/Debug/HelloWDM.tlog/inf2cat-expand.16580.write.1.tlog
/x64/Debug/HelloWDM.tlog/inf2cat-expand.16664.read.1.tlog
/x64/Debug/HelloWDM.tlog/inf2cat-expand.16664.write.1.tlog
/x64/Debug/HelloWDM.tlog/inf2cat-expand.16724.read.1.tlog
/x64/Debug/HelloWDM.tlog/inf2cat-expand.16724.write.1.tlog
/x64/Debug/HelloWDM.tlog/inf2cat-expand.16876.read.1.tlog
/x64/Debug/HelloWDM.tlog/inf2cat-expand.16876.write.1.tlog
/x64/Debug/HelloWDM.tlog/inf2cat-expand.19208.read.1.tlog
/x64/Debug/HelloWDM.tlog/inf2cat-expand.19208.write.1.tlog
/x64/Debug/HelloWDM.tlog/inf2cat-expand.20408.read.1.tlog
/x64/Debug/HelloWDM.tlog/inf2cat-expand.20408.write.1.tlog
/x64/Debug/HelloWDM.tlog/inf2cat-expand.20668.read.1.tlog
/x64/Debug/HelloWDM.tlog/inf2cat-expand.20668.write.1.tlog
/x64/Debug/HelloWDM.tlog/inf2cat-expand.21052.read.1.tlog
/x64/Debug/HelloWDM.tlog/inf2cat-expand.21052.write.1.tlog
/x64/Debug/HelloWDM.tlog/inf2cat-expand.21140.read.1.tlog
/x64/Debug/HelloWDM.tlog/inf2cat-expand.21140.write.1.tlog
/x64/Debug/HelloWDM.tlog/inf2cat-expand.21176.read.1.tlog
/x64/Debug/HelloWDM.tlog/inf2cat-expand.21176.write.1.tlog
/x64/Debug/HelloWDM.tlog/inf2cat-expand.21400.read.1.tlog
/x64/Debug/HelloWDM.tlog/inf2cat-expand.21400.write.1.tlog
/x64/Debug/HelloWDM.tlog/inf2cat-expand.21876.read.1.tlog
/x64/Debug/HelloWDM.tlog/inf2cat-expand.21876.write.1.tlog
/x64/Debug/HelloWDM.tlog/inf2cat-expand.22232.read.1.tlog
/x64/Debug/HelloWDM.tlog/inf2cat-expand.22232.write.1.tlog
/x64/Debug/HelloWDM.tlog/inf2cat-expand.22700.read.1.tlog
/x64/Debug/HelloWDM.tlog/inf2cat-expand.22700.write.1.tlog
/x64/Debug/HelloWDM.tlog/inf2cat-expand.22976.read.1.tlog
/x64/Debug/HelloWDM.tlog/inf2cat-expand.22976.write.1.tlog
/x64/Debug/HelloWDM.tlog/inf2cat-expand.2316.read.1.tlog
/x64/Debug/HelloWDM.tlog/inf2cat-expand.2316.write.1.tlog
/x64/Debug/HelloWDM.tlog/inf2cat-expand.3044.read.1.tlog
/x64/Debug/HelloWDM.tlog/inf2cat-expand.3044.write.1.tlog
/x64/Debug/HelloWDM.tlog/inf2cat-expand.32.read.1.tlog
/x64/Debug/HelloWDM.tlog/inf2cat-expand.32.write.1.tlog
/x64/Debug/HelloWDM.tlog/inf2cat-expand.3416.read.1.tlog
/x64/Debug/HelloWDM.tlog/inf2cat-expand.3416.write.1.tlog
/x64/Debug/HelloWDM.tlog/inf2cat-expand.3460.read.1.tlog
/x64/Debug/HelloWDM.tlog/inf2cat-expand.3460.write.1.tlog
/x64/Debug/HelloWDM.tlog/inf2cat-expand.4704.read.1.tlog
/x64/Debug/HelloWDM.tlog/inf2cat-expand.4704.write.1.tlog
/x64/Debug/HelloWDM.tlog/inf2cat-expand.5836.read.1.tlog
/x64/Debug/HelloWDM.tlog/inf2cat-expand.5836.write.1.tlog
/x64/Debug/HelloWDM.tlog/inf2cat-expand.6100.read.1.tlog
/x64/Debug/HelloWDM.tlog/inf2cat-expand.6100.write.1.tlog
/x64/Debug/HelloWDM.tlog/inf2cat-expand.7200.read.1.tlog
/x64/Debug/HelloWDM.tlog/inf2cat-expand.7200.write.1.tlog
/x64/Debug/HelloWDM.tlog/inf2cat.read.8.tlog
/x64/Debug/HelloWDM.tlog/inf2cat.write.8.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.11232.read.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.11232.write.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.1920.read.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.1920.write.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.25020.read.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.25020.write.1.tlog
HelloWDM.vcxproj.filters
x64/Debug/HelloWDM.tlog/inf2cat-expand.17876.read.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.17876.write.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.21852.read.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.21852.write.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.25152.read.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.25152.write.1.tlog
HelloWDM.vcxproj.filters
HelloWDM.vcxproj.filters
x64/Debug/HelloWDM.tlog/inf2cat-expand.1184.read.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.1184.write.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.18916.read.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.18916.write.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.19536.read.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.19536.write.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.20068.read.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.20068.write.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.21500.read.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.21500.write.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.3184.read.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.3184.write.1.tlog
.vs/HelloWDM/v15/.suo
.vs/HelloWDM/v15/Browse.VC.db
.vs/HelloWDM/v15/Browse.VC.opendb
.vs/HelloWDM/v15/ipch/AutoPCH/11ea42aa7c963700/CONSOLEAPPLICATION1.ipch
.vs/HelloWDM/v15/ipch/AutoPCH/a48da656fb34550c/DEVICECAPABILITY.ipch
ConsoleApplication1/ConsoleApplication1.vcxproj.user
ConsoleApplication1/Debug/ConsoleApplication1.log
ConsoleApplication1/Debug/vc141.idb
ConsoleApplication1/Debug/vc141.pdb
ConsoleApplication1/Debug/ConsoleA.17395BF3.tlog/CL.command.1.tlog
ConsoleApplication1/Debug/ConsoleA.17395BF3.tlog/CL.read.1.tlog
ConsoleApplication1/Debug/ConsoleA.17395BF3.tlog/CL.write.1.tlog
ConsoleApplication1/Debug/ConsoleA.17395BF3.tlog/ConsoleApplication1.lastbuildstate
ConsoleApplication1/Debug/ConsoleA.17395BF3.tlog/link.command.1.tlog
ConsoleApplication1/Debug/ConsoleA.17395BF3.tlog/link.read.1.tlog
ConsoleApplication1/Debug/ConsoleA.17395BF3.tlog/link.write.1.tlog
Debug/ConsoleApplication1.ilk
Debug/ConsoleApplication1.pdb
Debug/HelloWDM.cer
Debug/HelloWDM.inf
Debug/HelloWDM.log
Debug/HelloWDM.pdb
Debug/HelloWDM.sys
Debug/vc141.pdb
Debug/HelloWDM/hellowdm.cat
Debug/HelloWDM/HelloWDM.inf
Debug/HelloWDM/HelloWDM.sys
Debug/HelloWDM.tlog/CL.command.1.tlog
Debug/HelloWDM.tlog/CL.read.1.tlog
Debug/HelloWDM.tlog/CL.write.1.tlog
Debug/HelloWDM.tlog/HelloWDM.lastbuildstate
Debug/HelloWDM.tlog/Inf2Cat.command.1.tlog
Debug/HelloWDM.tlog/inf2cat.read.1.tlog
Debug/HelloWDM.tlog/inf2cat.read.8.tlog
Debug/HelloWDM.tlog/inf2cat.write.1.tlog
Debug/HelloWDM.tlog/inf2cat.write.8.tlog
Debug/HelloWDM.tlog/inf2cat-expand.3436.read.1.tlog
Debug/HelloWDM.tlog/inf2cat-expand.3436.write.1.tlog
Debug/HelloWDM.tlog/inf2cat-expand.read.1.tlog
Debug/HelloWDM.tlog/inf2cat-expand.write.1.tlog
Debug/HelloWDM.tlog/link.command.1.tlog
Debug/HelloWDM.tlog/link.read.1.tlog
Debug/HelloWDM.tlog/link.write.1.tlog
Debug/HelloWDM.tlog/signtool.command.1.tlog
Debug/HelloWDM.tlog/signtool.read.1.tlog
Debug/HelloWDM.tlog/signtool.timestamp.1.tlog
Debug/HelloWDM.tlog/signtool.write.1.tlog
Debug/HelloWDM.tlog/stampinf.command.1.tlog
Debug/HelloWDM.tlog/stampinf.read.1.tlog
Debug/HelloWDM.tlog/stampinf.write.1.tlog
/.vs
/ARM/Debug
/ARM64/Debug
/ConsoleApplication1/Debug
*.user
x64/Debug/HelloWDM.tlog/inf2cat-expand.1156.read.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.1156.write.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.17760.read.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.17760.write.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.18184.read.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.18184.write.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.18560.read.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.18560.write.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.18972.read.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.18972.write.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.20456.read.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.20456.write.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.23120.read.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.23120.write.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.27280.read.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.27280.write.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.3424.read.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.3424.write.1.tlog
ConsoleApplication1/x64/Debug/ConsoleA.17395BF3.tlog/CL.command.1.tlog
ConsoleApplication1/x64/Debug/ConsoleA.17395BF3.tlog/CL.read.1.tlog
ConsoleApplication1/x64/Debug/ConsoleA.17395BF3.tlog/CL.write.1.tlog
ConsoleApplication1/x64/Debug/ConsoleA.17395BF3.tlog/ConsoleApplication1.lastbuildstate
ConsoleApplication1/x64/Debug/ConsoleA.17395BF3.tlog/link.command.1.tlog
ConsoleApplication1/x64/Debug/ConsoleA.17395BF3.tlog/link.read.1.tlog
ConsoleApplication1/x64/Debug/ConsoleA.17395BF3.tlog/link.write.1.tlog
ConsoleApplication1/x64/Debug/vc141.idb
x64/Debug/HelloWDM.tlog/inf2cat-expand.10420.read.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.10420.write.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.10700.read.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.10700.write.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.11480.read.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.11480.write.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.12756.read.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.12756.write.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.1308.read.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.1308.write.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.1356.read.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.1356.write.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.13832.read.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.13832.write.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.14320.read.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.14320.write.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.1508.read.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.1508.write.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.16396.read.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.16396.write.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.16840.read.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.16840.write.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.19600.read.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.19600.write.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.19792.read.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.19792.write.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.20524.read.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.20524.write.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.20660.read.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.20660.write.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.20888.read.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.20888.write.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.21116.read.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.21116.write.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.21356.read.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.21356.write.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.21644.read.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.21644.write.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.21996.read.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.21996.write.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.23324.read.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.23324.write.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.24036.read.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.24036.write.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.24592.read.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.24592.write.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.25572.read.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.25572.write.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.2560.read.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.2560.write.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.26104.read.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.26104.write.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.2928.read.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.2928.write.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.3624.read.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.3624.write.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.3720.read.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.3720.write.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.4332.read.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.4332.write.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.4408.read.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.4408.write.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.4872.read.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.4872.write.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.5888.read.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.5888.write.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.6496.read.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.6496.write.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.6600.read.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.6600.write.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.6952.read.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.6952.write.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.7620.read.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.7620.write.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.7940.read.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.7940.write.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.8188.read.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.8188.write.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.9868.read.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.9868.write.1.tlog
x64/Debug/HelloWDM.cer
x64/Debug/HelloWDM.sys
x64/Debug/HelloWDM.tlog/inf2cat-expand.10232.read.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.10232.write.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.11432.read.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.11432.write.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.11456.read.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.11456.write.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.1152.read.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.1152.write.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.11520.read.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.11520.write.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.12160.read.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.12160.write.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.1312.read.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.1312.write.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.13860.read.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.13860.write.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.1424.read.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.1424.write.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.14944.read.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.14944.write.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.15036.read.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.15036.write.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.15628.read.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.15628.write.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.16224.read.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.16224.write.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.1736.read.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.1736.write.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.17444.read.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.17444.write.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.18140.read.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.18140.write.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.19384.read.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.19384.write.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.19588.read.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.19588.write.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.20100.read.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.20100.write.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.22372.read.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.22372.write.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.3516.read.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.3516.write.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.4168.read.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.4168.write.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.4444.read.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.4444.write.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.4956.read.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.4956.write.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.6704.read.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.6704.write.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.7364.read.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.7364.write.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.8264.read.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.8264.write.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.10592.read.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.10592.write.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.10864.read.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.10864.write.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.14556.read.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.14556.write.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.15736.read.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.15736.write.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.4724.read.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.4724.write.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.528.read.1.tlog
x64/Debug/HelloWDM.tlog/inf2cat-expand.528.write.1.tlog
/x64
/ARM64
/wmi42.bmf
/Release/AcpiSimDriverTestApp.iobj
/Release/AcpiSimDriverTestApp.ipdb
/Release/AcpiSimDriverTestApp.pdb
/Release/ConsoleApplication1.iobj
/Release/ConsoleApplication1.ipdb
/Release/ConsoleApplication1.pdb
